@page "/spots/create"
@using SurfsUpClassLibrary
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@inject NavigationManager uriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h3>Create</h3>
<h2>Spot</h2>

<Form ButtonText="Create spot" spot="@spot"
      OnValidSubmit="@CreateSpot" />

@code {

    [Parameter]
    public Spot spot { get; set; } = new Spot();

    async Task CreateSpot()
    {
        //Får fat i user og dermed userid så dette tilføjes til api controller
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        //Bruger her JSON web token til at få fat i userID
        spot.UserID = user.FindFirst(c => c.Type == "sub")?.Value;
        await http.PostAsJsonAsync("/api/spots/", spot);
        uriHelper.NavigateTo("/fetchdata");
    }
}
