@model ProtoTypeV1.Models.Product

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h4>Rediger</h4>

<div class="row">
    <div class="container">
        <h4>Produkt</h4>
        <hr />
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeBoard" class="control-label"></label>
                    <input asp-for="TypeBoard" class="form-control" />
                    <span asp-validation-for="TypeBoard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeDescription" class="control-label"></label>
                    <input asp-for="TypeDescription" class="form-control" />
                    <span asp-validation-for="TypeDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Difficulity" class="control-label"></label>
                    <input asp-for="Difficulity" class="form-control" />
                    <span asp-validation-for="Difficulity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volume" class="control-label"></label>
                    <input asp-for="Volume" class="form-control" />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Condition" class="control-label"></label>
                    <input asp-for="Condition" class="form-control" />
                    <span asp-validation-for="Condition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImage" class="control-label"></label>
                    <input type="file" multiple="multiple" asp-for="ProductImage" placeholder="Model.ImageTitle" class="form-control">
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a href="/Identity/Account/Manage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
