
.Font-Fam-Nav-Calibri {
    font-family: Calibri !important;
}
.Font-Fam-Franklin {
    font-family: Franklin Gothic;
}

.Font-Fam-Arial {
    font-family: Arial Rounded MT !important;
}
.TextColor-White{
    color: #fff !important;
}
.font-size-20 {
    font-size: 20px;
}
.font-color-white{
    color: #fff !important;
}