@{
    ViewData["Title"] = "Home Page";
}

@section Hero_Img{ 
        @* hero img here *@
    <div id="Top" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
}

<div class="container">
    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="Font-Fam-Franklin text-center">Populære udlejnings kategorier</h1>
        </div>
        <div class=" col-sm-12 col-md-4 col-lg-4 ">

            <h2 class="my-5 h2 Font-Fam-Franklin">SUP/Paddle Boarding</h2>

            <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="~/Ressurces/Img/Paddle-Sub-Card-Img 256x256.jpg"
                 data-holder-rendered="true">

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 ">

            <h2 class="my-5 h2 Font-Fam-Franklin">Kite Surfing</h2>

            <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="/Ressurces/Img/Kitesurfing-card-img-256x256.jpg"
                 data-holder-rendered="true">

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 ">

            <h2 class="my-5 h2 Font-Fam-Franklin">Surfing</h2>

            <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="/Ressurces/Img/surfing-Card-Img-256x256.jpg"
                 data-holder-rendered="true">

        </div>

    </div>
</div>
<!-- Grid row-->
<div class="container-fluid margin-null padding-null">
    <div class="row margin-null">
        <div class="unclickable-div"></div>
        <div class="col-sm-12 col-md-6 margin-null padding-null">
            <h2 class="my-5 h2 Font-Fam-Franklin text-center">Wind map</h2>
            <iframe class="embed-responsive" src="https://embed.windy.com/embed2.html?lat=55.792&lon=9.613&detailLat=55.792&detailLon=9.613&width=650&height=450&zoom=6&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                    frameborder="0"
                    height="500"></iframe>
        </div>
        <div class="col-sm-12 col-md-6 margin-null padding-null">
            <h2 class="my-5 h2 Font-Fam-Franklin text-center">Waves map</h2>
            <iframe class="embed-responsive" src="https://embed.windy.com/embed2.html?lat=55.792&lon=9.613&detailLat=55.792&detailLon=9.613&width=650&height=450&zoom=6&level=surface&overlay=waves&product=ecmwfWaves&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                    frameborder="0"
                    height="500"></iframe>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center pt-5 pb-5">
            <h1 class="Font-Fam-Nav-Calibri">Mest viewed Spots</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 pb-5">
            <div class="pt-0 pb-0 pr-0 pl-0 shadow-sm">
                <img class="img-fluid" src="http://via.placeholder.com/640x360" alt="Spot img" />
                <div class="card-body pb-0 pr-0 pl-0 pt-0">
                    <div class="card-header custom-card-header text-center pr-0 pl-0">
                        <h5 class="mb-0">Surf Spot!</h5>
                    </div>
                    <p class="card-text pr-4 pl-4 pt-4 pb-2 mb-0 "><strong>location: </strong>Kiltmølle strand</p>
                    <p class="card-text pr-4 pl-4 pb-2 mb-0 ">Pellentesque malesuada enim id metus tristique pulvinar. Pellentesque malesuada enim id metus tristique pulvinar. Nulla convallis tincidunt rhoncus. Donec tincidunt enim in felis scelerisque...</p>
                    <div class="card-header custom-card-header pr-0 pl-0 pt-1 pb-1 text-center">
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_half</span>
                        <span class="material-icons pl-1">star_border</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 pb-5">
            <div class="pt-0 pb-0 pr-0 pl-0 shadow-sm">
                <img class="img-fluid" src="http://via.placeholder.com/640x360" alt="Spot img" />
                <div class="card-body pb-0 pr-0 pl-0 pt-0">
                    <div class="card-header custom-card-header text-center pr-0 pl-0">
                        <h5 class="mb-0">Surf Spot!</h5>
                    </div>
                    <p class="card-text pr-4 pl-4 pt-4 pb-2 mb-0 "><strong>location: </strong>Kiltmølle strand</p>
                    <p class="card-text pr-4 pl-4 pb-2 mb-0 ">Pellentesque malesuada enim id metus tristique pulvinar. Pellentesque malesuada enim id metus tristique pulvinar. Nulla convallis tincidunt rhoncus. Donec tincidunt enim in felis scelerisque...</p>
                    <div class="card-header custom-card-header pr-0 pl-0 pt-1 pb-1 text-center">
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_half</span>
                        <span class="material-icons pl-1">star_border</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 pb-5">
            <div class="pt-0 pb-0 pr-0 pl-0 shadow-sm">
                <img class="img-fluid" src="http://via.placeholder.com/640x360" alt="Spot img" />
                <div class="card-body pb-0 pr-0 pl-0 pt-0">
                    <div class="card-header custom-card-header text-center pr-0 pl-0">
                        <h5 class="mb-0">Surf Spot!</h5>
                    </div>
                    <p class="card-text pr-4 pl-4 pt-4 pb-2 mb-0 "><strong>location: </strong>Kiltmølle strand</p>
                    <p class="card-text pr-4 pl-4 pb-2 mb-0 ">Pellentesque malesuada enim id metus tristique pulvinar. Pellentesque malesuada enim id metus tristique pulvinar. Nulla convallis tincidunt rhoncus. Donec tincidunt enim in felis scelerisque...</p>
                    <div class="card-header custom-card-header pr-0 pl-0 pt-1 pb-1 text-center">
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_half</span>
                        <span class="material-icons pl-1">star_border</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 pb-5">
            <div class="pt-0 pb-0 pr-0 pl-0 shadow-sm">
                <img class="img-fluid" src="http://via.placeholder.com/640x360" alt="Spot img" />
                <div class="card-body pb-0 pr-0 pl-0 pt-0">
                    <div class="card-header custom-card-header text-center pr-0 pl-0">
                        <h5 class="mb-0">Surf Spot!</h5>
                    </div>
                    <p class="card-text pr-4 pl-4 pt-4 pb-2 mb-0 "><strong>location: </strong>Kiltmølle strand</p>
                    <p class="card-text pr-4 pl-4 pb-2 mb-0 ">Pellentesque malesuada enim id metus tristique pulvinar. Pellentesque malesuada enim id metus tristique pulvinar. Nulla convallis tincidunt rhoncus. Donec tincidunt enim in felis scelerisque...</p>
                    <div class="card-header custom-card-header pr-0 pl-0 pt-1 pb-1 text-center">
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_rate</span>
                        <span class="material-icons pl-1">star_half</span>
                        <span class="material-icons pl-1">star_border</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>About US</h1>
            </div>
            <div class="col-lg-4 col-sm-12 col-ex-12 about-item " data-wow-offset="200">
                <span class="material-icons">people</span>
                <h2>Section 1</h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="col-lg-4 col-sm-12 col-ex-12 about-item " data-wow-offset="200">
                <span class="material-icons">info</span>
                <h2>Section 2 </h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-12 col-ex-12 about-item " data-wow-offset="200">
                <span class="material-icons">call</span>
                <h2>Section 3</h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
        </div>
    </div>
</div>
